<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ Episodes.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">episodes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Air Date: {{ Episodes.air_date }}</ion-label>
  </ion-item>
</ion-content>
