.resident-image {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  display: block; /* Asegura que la imagen se muestre como un bloque */
  margin-bottom: 10px; /* Agrega un margen inferior para separar las imágenes */
}